.hero {
}

header {
    height: 10rem;
    background-color: var(--clr-dark);
}

.container {
    max-width: 1440px;
    margin: auto;
    height: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
}

.logo {
}

.header__container {
    display: flex;
    align-items: center;
}